<h1>Post Index Page</h1>

<%= @posts.each do |post| %>
  <div>
    <div><strong><%= post.title %></strong></div>

    <%= content_tag(:div, post.user.email) if !current_user.nil? %>

    <div><%= post.body %></div>
  </div>
<% end %>